# Dependencies
node_modules
.pnpm-store
**/node_modules
**/.pnpm-store

# Next.js build outputs
.next
out
dist
build
**/.next
**/out
**/dist
**/build

# Cache
.turbo
**/.turbo

# Environment
.env*
**/.env*

# Misc
.DS_Store
*.pem
.git
.gitignore
README.md
**/README.md
